<div class="container w-100">

    <div class="row w-100 mt-5">
        <div class="col md-12">
            <h1 class="text monospace text-center">Sejam bem-vindes ao meu blog!</h1>
        </div>
        <div class="row w-100 mt-4 mb-4">
            <div class="col-md-12">
                <p class="text-justify text-monospace">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus quo, velit ratione rerum dolorum inventore quia possimus ut at mollitia eaque unde nesciunt, porro, similique accusamus perspiciatis aut voluptatum maiores.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id ipsum minus ut maiores dolorum aspernatur quia corrupti quas, aut neque voluptate nisi laborum illo ullam numquam eum aliquid vel pariatur
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, quis? Enim voluptatum sit quae perferendis ut corporis, quam error. Voluptas velit modi placeat voluptatem porro quas. Doloremque vel officiis delectus.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. A sint quod blanditiis fugiat natus, nulla voluptatum reprehenderit ullam officia et dolorem, tempore non, culpa rem animi quisquam. Debitis, qui voluptas?
                </p>
            </div>
        </div>
    </div>
</div>
    <div class="parallax"></div>
    <div class="row w-100 mt-5 mb-5">
        <div class="col-md-12 w-100 d-flex justify-content-center">
            <button class="btn btn-outline-dark text-uppercase font-weight-bold ">Ver o feed</button>
        </div>
    </div>


