<div class="card border-0" style="width: 18rem;">

    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src="https://scontent.fgru5-1.fna.fbcdn.net/v/t1.0-9/71600965_1458344130991355_4141852261653413888_o.jpg?_nc_cat=103&ccb=2&_nc_sid=cdbe9c&_nc_eui2=AeGUxdr95ZfJnpNoZj6tTBRwVF9Nw0HjO81UX03DQeM7zR0pYw1XM_Gr8xbRDDrQIx0HLI5Puwq_zfZMcwgclr6C&_nc_ohc=WlXHySlZzdoAX-M4rez&_nc_ht=scontent.fgru5-1.fna&oh=d4e54f5bbaa7af14d5e09a19617696b6&oe=5FC67D28" width="170px" height="200px"
        alt="Imagem de capa do card">
    </div>
   
    <div class="card-body">
      <h5 class="card-title text-center text-monospace">{{nome}}</h5>
      <p class="card-text text-center text-monospace">Desenvolvedora JAVA Full-Stack.</p>
      
      <a href="https://www.linkedin.com" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">LinkedIn</a>
      

      <a href="https://www.github.com" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">GitHub</a>


    </div>
  </div>
